<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billing.web.dao.CustomerDao">
    <select id="getOne" resultType="com.billing.web.model.Customer"
            parameterType="java.lang.Long">
        select id,
        customer_name,
        email,
        phone,
        password_hint,
        status_id,
        last_currency_uom,
        last_locale,
        last_time_zone,
        disabled_date_time,
        first_party_id,
        last_updated_stamp,
        created_stamp
        from customer
        where id = #{id}
        limit 1;
    </select>
</mapper>