<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.billing.user.orm.dao.UserSessionDao">


    <!-- 字段名转换 -->
    <resultMap id="RM_UserSession" type="com.billing.user.orm.model.UserSession">
        <result property="id" column="id"/>
        <result property="customerId" column="customer_id"/>
        <result property="partyId" column="party_id"/>
        <result property="productId" column="product_id"/>
        <result property="domainId" column="domain_id"/>
        <result property="appId" column="app_id"/>
        <result property="entryId" column="entry_id"/>
        <result property="geoId" column="geo_id"/>
        <result property="terminalId" column="terminal_id"/>
        <result property="appArea" column="app_area"/>
        <result property="loginOken" column="login_oken"/>
        <result property="isBound" column="is_bound"/>
        <result property="isAnonymous" column="is_anonymous"/>
        <result property="startTime" column="start_time"/>
        <result property="stopTime" column="stop_time"/>
    </resultMap>

    <!-- 查询字段 -->
    <sql id="UserSession_columns">
        <![CDATA[
    id,customer_id,party_id,product_id,domain_id,app_id,entry_id,geo_id,terminal_id,app_area,login_oken,is_bound,is_anonymous,start_time,stop_time
        ]]>
    </sql>


    <select id="get" parameterType="map" resultMap="RM_UserSession">
        select
        <include refid="UserSession_columns" />
        from user_session
        WHERE
            <if test="@Ognl@isEmpty(id)">
                1 = 0 AND
            </if>
            id = #{id} 
    </select>

    <!-- 查询用户,演示: 1.输入用map传入多个参数 2.<where>语句, 智能添加where和and关键字 3.输出直接映射对象 -->
    <select id="search" parameterType="map" resultMap="RM_UserSession">
        select
        <include refid="UserSession_columns" />
        from user_session
        <where>
                    <if test="@Ognl@isNotEmpty(id)">
            AND id = #{id}
                    </if>
                    <if test="@Ognl@isNotEmpty(customerId)">
            AND customer_id = #{customerId}
                    </if>
                    <if test="@Ognl@isNotEmpty(partyId)">
            AND party_id = #{partyId}
                    </if>
                    <if test="@Ognl@isNotEmpty(productId)">
            AND product_id = #{productId}
                    </if>
                    <if test="@Ognl@isNotEmpty(domainId)">
            AND domain_id = #{domainId}
                    </if>
                    <if test="@Ognl@isNotEmpty(appId)">
            AND app_id = #{appId}
                    </if>
                    <if test="@Ognl@isNotEmpty(entryId)">
            AND entry_id = #{entryId}
                    </if>
                    <if test="@Ognl@isNotEmpty(geoId)">
            AND geo_id = #{geoId}
                    </if>
                    <if test="@Ognl@isNotEmpty(terminalId)">
            AND terminal_id = #{terminalId}
                    </if>
                    <if test="@Ognl@isNotEmpty(appArea)">
            AND app_area = #{appArea}
                    </if>
                    <if test="@Ognl@isNotEmpty(loginOken)">
            AND login_oken = #{loginOken}
                    </if>
                    <if test="@Ognl@isNotEmpty(isBound)">
            AND is_bound = #{isBound}
                    </if>
                    <if test="@Ognl@isNotEmpty(isAnonymous)">
            AND is_anonymous = #{isAnonymous}
                    </if>
                    <if test="@Ognl@isNotEmpty(startTimeBegin)">
            AND start_time >= #{startTimeBegin}
                    </if>
                    <if test="@Ognl@isNotEmpty(startTimeEnd)">
            AND start_time &lt;= #{startTimeEnd}
                    </if>
                    <if test="@Ognl@isNotEmpty(stopTimeBegin)">
            AND stop_time >= #{stopTimeBegin}
                    </if>
                    <if test="@Ognl@isNotEmpty(stopTimeEnd)">
            AND stop_time &lt;= #{stopTimeEnd}
                    </if>
        </where>
    </select>

    <!-- 插入 -->
    <insert id="save" parameterType="com.billing.user.orm.model.UserSession" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_session (
             customer_id, party_id, product_id, domain_id, app_id, entry_id, geo_id, terminal_id, app_area, login_oken, is_bound, is_anonymous, start_time, stop_time
        ) VALUES (
             #{customerId}, #{partyId}, #{productId}, #{domainId}, #{appId}, #{entryId}, #{geoId}, #{terminalId}, #{appArea}, #{loginOken}, #{isBound}, #{isAnonymous}, #{startTime}, #{stopTime}
        )
    </insert>

    <delete id="delete">
        DELETE FROM user_session WHERE
        id = #{id} 
    </delete>

    <update id="update" >
        <![CDATA[
        UPDATE user_session SET
    customer_id = #{customerId} , party_id = #{partyId} , product_id = #{productId} , domain_id = #{domainId} , app_id = #{appId} , entry_id = #{entryId} , geo_id = #{geoId} , terminal_id = #{terminalId} , app_area = #{appArea} , login_oken = #{loginOken} , is_bound = #{isBound} , is_anonymous = #{isAnonymous} , start_time = #{startTime} , stop_time = #{stopTime}  
        WHERE
    id = #{id}  
        ]]>
    </update>

</mapper>