<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.billing.billing.orm.dao.CustomerGoodsDao">


    <!-- 字段名转换 -->
    <resultMap id="RM_CustomerGoods" type="com.billing.billing.orm.model.CustomerGoods">
        <result property="id" column="id"/>
        <result property="productSnapId" column="product_snap_id"/>
        <result property="goodsSnapId" column="goods_snap_id"/>
        <result property="customerId" column="customer_id"/>
        <result property="sessionId" column="session_id"/>
        <result property="orderId" column="order_id"/>
        <result property="partyId" column="party_id"/>
        <result property="quantityUomId" column="quantity_uom_id"/>
        <result property="quantityIncluded" column="quantity_included"/>
        <result property="timeUomId" column="time_uom_id"/>
        <result property="timeIncluded" column="time_included"/>
        <result property="fromPromotions" column="from_promotions"/>
        <result property="quantityLeft" column="quantity_left"/>
        <result property="timeLeft" column="time_left"/>
        <result property="lastModifiedDate" column="last_modified_date"/>
        <result property="lastModifiedByUserLogin" column="last_modified_by_user_login"/>
        <result property="createdDate" column="created_date"/>
        <result property="createdByUserLogin" column="created_by_user_login"/>
    </resultMap>

    <!-- 查询字段 -->
    <sql id="CustomerGoods_columns">
        <![CDATA[
    id,product_snap_id,goods_snap_id,customer_id,session_id,order_id,party_id,quantity_uom_id,quantity_included,time_uom_id,time_included,from_promotions,quantity_left,time_left,last_modified_date,last_modified_by_user_login,created_date,created_by_user_login
        ]]>
    </sql>


    <select id="get" parameterType="long" resultMap="RM_CustomerGoods">
        <![CDATA[
        select
        <include refid="CustomerGoods_columns" />
        from customer_goods
        WHERE
            <if test="@Ognl@isNotEmpty(id)">
                1 = 0 AND
            </if>
            id = #{id} 
        ]]>
    </select>

    <!-- 查询用户,演示: 1.输入用map传入多个参数 2.<where>语句, 智能添加where和and关键字 3.输出直接映射对象 -->
    <select id="search" parameterType="map" resultMap="RM_CustomerGoods">
        <![CDATA[
        select
        <include refid="CustomerGoods_columns" />
        from customer_goods
        <where>
                    <if test="@Ognl@isNotEmpty(id)">
            AND id = #{id}
                    </if>
                    <if test="@Ognl@isNotEmpty(productSnapId)">
            AND product_snap_id = #{productSnapId}
                    </if>
                    <if test="@Ognl@isNotEmpty(goodsSnapId)">
            AND goods_snap_id = #{goodsSnapId}
                    </if>
                    <if test="@Ognl@isNotEmpty(customerId)">
            AND customer_id = #{customerId}
                    </if>
                    <if test="@Ognl@isNotEmpty(sessionId)">
            AND session_id = #{sessionId}
                    </if>
                    <if test="@Ognl@isNotEmpty(orderId)">
            AND order_id = #{orderId}
                    </if>
                    <if test="@Ognl@isNotEmpty(partyId)">
            AND party_id = #{partyId}
                    </if>
                    <if test="@Ognl@isNotEmpty(quantityUomId)">
            AND quantity_uom_id = #{quantityUomId}
                    </if>
                    <if test="@Ognl@isNotEmpty(quantityIncluded)">
            AND quantity_included = #{quantityIncluded}
                    </if>
                    <if test="@Ognl@isNotEmpty(timeUomId)">
            AND time_uom_id = #{timeUomId}
                    </if>
                    <if test="@Ognl@isNotEmpty(timeIncluded)">
            AND time_included = #{timeIncluded}
                    </if>
                    <if test="@Ognl@isNotEmpty(fromPromotions)">
            AND from_promotions = #{fromPromotions}
                    </if>
                    <if test="@Ognl@isNotEmpty(quantityLeft)">
            AND quantity_left = #{quantityLeft}
                    </if>
                    <if test="@Ognl@isNotEmpty(timeLeft)">
            AND time_left = #{timeLeft}
                    </if>
                    <if test="@Ognl@isNotEmpty(lastModifiedDateBegin)">
            AND last_modified_date >= #{lastModifiedDateBegin}
                    </if>
                    <if test="@Ognl@isNotEmpty(lastModifiedDateEnd)">
            AND last_modified_date &lt;= #{lastModifiedDateEnd}
                    </if>
                    <if test="@Ognl@isNotEmpty(lastModifiedByUserLogin)">
            AND last_modified_by_user_login = #{lastModifiedByUserLogin}
                    </if>
                    <if test="@Ognl@isNotEmpty(createdDateBegin)">
            AND created_date >= #{createdDateBegin}
                    </if>
                    <if test="@Ognl@isNotEmpty(createdDateEnd)">
            AND created_date &lt;= #{createdDateEnd}
                    </if>
                    <if test="@Ognl@isNotEmpty(createdByUserLogin)">
            AND created_by_user_login = #{createdByUserLogin}
                    </if>
        </where>
        ]]>
    </select>

    <!-- 插入 -->
    <insert id="save" parameterType="com.billing.billing.orm.model.CustomerGoods" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        INSERT INTO customer_goods (
             id, product_snap_id, goods_snap_id, customer_id, session_id, order_id, party_id, quantity_uom_id, quantity_included, time_uom_id, time_included, from_promotions, quantity_left, time_left, last_modified_date, last_modified_by_user_login, created_date, created_by_user_login
        ) VALUES (
             #{id}, #{productSnapId}, #{goodsSnapId}, #{customerId}, #{sessionId}, #{orderId}, #{partyId}, #{quantityUomId}, #{quantityIncluded}, #{timeUomId}, #{timeIncluded}, #{fromPromotions}, #{quantityLeft}, #{timeLeft}, #{lastModifiedDate}, #{lastModifiedByUserLogin}, #{createdDate}, #{createdByUserLogin}
        )
        ]]>
    </insert>

    <delete id="delete">
        <![CDATA[
        DELETE FROM customer_goods WHERE
        id = #{id} 
        ]]>
    </delete>

    <update id="update" >
        <![CDATA[
        UPDATE customer_goods SET
    product_snap_id = #{productSnapId} , goods_snap_id = #{goodsSnapId} , customer_id = #{customerId} , session_id = #{sessionId} , order_id = #{orderId} , party_id = #{partyId} , quantity_uom_id = #{quantityUomId} , quantity_included = #{quantityIncluded} , time_uom_id = #{timeUomId} , time_included = #{timeIncluded} , from_promotions = #{fromPromotions} , quantity_left = #{quantityLeft} , time_left = #{timeLeft} , last_modified_date = #{lastModifiedDate} , last_modified_by_user_login = #{lastModifiedByUserLogin} , created_date = #{createdDate} , created_by_user_login = #{createdByUserLogin}  
        WHERE
    id = #{id}  
        ]]>
    </update>

</mapper>