<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.billing.product.orm.dao.EntryTypeDao">


    <!-- 字段名转换 -->
    <resultMap id="RM_EntryType" type="com.billing.product.orm.model.EntryType">
        <result property="entryTypeId" column="entry_type_id"/>
        <result property="description" column="description"/>
    </resultMap>

    <!-- 查询字段 -->
    <sql id="EntryType_columns">
        <![CDATA[
    entry_type_id,description
        ]]>
    </sql>


    <select id="get" parameterType="map" resultMap="RM_EntryType">
        select
        <include refid="EntryType_columns" />
        from entry_type
        WHERE
            <if test="@Ognl@isEmpty(entryTypeId)">
                1 = 0 AND
            </if>
            entry_type_id = #{entryTypeId} 
    </select>

    <!-- 查询用户,演示: 1.输入用map传入多个参数 2.<where>语句, 智能添加where和and关键字 3.输出直接映射对象 -->
    <select id="search" parameterType="map" resultMap="RM_EntryType">
        select
        <include refid="EntryType_columns" />
        from entry_type
        <where>
                    <if test="@Ognl@isNotEmpty(entryTypeId)">
            AND entry_type_id = #{entryTypeId}
                    </if>
                    <if test="@Ognl@isNotEmpty(description)">
            AND description = #{description}
                    </if>
        </where>
    </select>

    <!-- 插入 -->
    <insert id="save" parameterType="com.billing.product.orm.model.EntryType" useGeneratedKeys="true" keyProperty="entryTypeId">
        INSERT INTO entry_type (
             description
        ) VALUES (
             #{description}
        )
    </insert>

    <delete id="delete">
        DELETE FROM entry_type WHERE
        entry_type_id = #{entryTypeId} 
    </delete>

    <update id="update" >
        <![CDATA[
        UPDATE entry_type SET
    description = #{description}  
        WHERE
    entry_type_id = #{entryTypeId}  
        ]]>
    </update>

</mapper>