<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.billing.product.orm.dao.PartyDao">


    <!-- 字段名转换 -->
    <resultMap id="RM_Party" type="com.billing.product.orm.model.Party">
        <result property="id" column="id"/>
        <result property="partyTypeId" column="party_type_id"/>
        <result property="externalId" column="external_id"/>
        <result property="preferredCurrencyUomId" column="preferred_currency_uom_id"/>
        <result property="description" column="description"/>
        <result property="statusId" column="status_id"/>
        <result property="createdDate" column="created_date"/>
        <result property="createdByUserLogin" column="created_by_user_login"/>
        <result property="lastModifiedDate" column="last_modified_date"/>
        <result property="lastModifiedByUserLogin" column="last_modified_by_user_login"/>
        <result property="dataSourceId" column="data_source_id"/>
        <result property="isUnread" column="is_unread"/>
        <result property="lastUpdatedStamp" column="last_updated_stamp"/>
        <result property="createdStamp" column="created_stamp"/>
    </resultMap>

    <!-- 查询字段 -->
    <sql id="Party_columns">
        <![CDATA[
    id,party_type_id,external_id,preferred_currency_uom_id,description,status_id,created_date,created_by_user_login,last_modified_date,last_modified_by_user_login,data_source_id,is_unread,last_updated_stamp,created_stamp
        ]]>
    </sql>


    <select id="get" parameterType="map" resultMap="RM_Party">
        select
        <include refid="Party_columns" />
        from party
        WHERE
            <if test="@Ognl@isEmpty(id)">
                1 = 0 AND
            </if>
            id = #{id} 
    </select>

    <!-- 查询用户,演示: 1.输入用map传入多个参数 2.<where>语句, 智能添加where和and关键字 3.输出直接映射对象 -->
    <select id="search" parameterType="map" resultMap="RM_Party">
        select
        <include refid="Party_columns" />
        from party
        <where>
                    <if test="@Ognl@isNotEmpty(id)">
            AND id = #{id}
                    </if>
                    <if test="@Ognl@isNotEmpty(partyTypeId)">
            AND party_type_id = #{partyTypeId}
                    </if>
                    <if test="@Ognl@isNotEmpty(externalId)">
            AND external_id = #{externalId}
                    </if>
                    <if test="@Ognl@isNotEmpty(preferredCurrencyUomId)">
            AND preferred_currency_uom_id = #{preferredCurrencyUomId}
                    </if>
                    <if test="@Ognl@isNotEmpty(description)">
            AND description = #{description}
                    </if>
                    <if test="@Ognl@isNotEmpty(statusId)">
            AND status_id = #{statusId}
                    </if>
                    <if test="@Ognl@isNotEmpty(createdDateBegin)">
            AND created_date >= #{createdDateBegin}
                    </if>
                    <if test="@Ognl@isNotEmpty(createdDateEnd)">
            AND created_date &lt;= #{createdDateEnd}
                    </if>
                    <if test="@Ognl@isNotEmpty(createdByUserLogin)">
            AND created_by_user_login = #{createdByUserLogin}
                    </if>
                    <if test="@Ognl@isNotEmpty(lastModifiedDateBegin)">
            AND last_modified_date >= #{lastModifiedDateBegin}
                    </if>
                    <if test="@Ognl@isNotEmpty(lastModifiedDateEnd)">
            AND last_modified_date &lt;= #{lastModifiedDateEnd}
                    </if>
                    <if test="@Ognl@isNotEmpty(lastModifiedByUserLogin)">
            AND last_modified_by_user_login = #{lastModifiedByUserLogin}
                    </if>
                    <if test="@Ognl@isNotEmpty(dataSourceId)">
            AND data_source_id = #{dataSourceId}
                    </if>
                    <if test="@Ognl@isNotEmpty(isUnread)">
            AND is_unread = #{isUnread}
                    </if>
                    <if test="@Ognl@isNotEmpty(lastUpdatedStampBegin)">
            AND last_updated_stamp >= #{lastUpdatedStampBegin}
                    </if>
                    <if test="@Ognl@isNotEmpty(lastUpdatedStampEnd)">
            AND last_updated_stamp &lt;= #{lastUpdatedStampEnd}
                    </if>
                    <if test="@Ognl@isNotEmpty(createdStampBegin)">
            AND created_stamp >= #{createdStampBegin}
                    </if>
                    <if test="@Ognl@isNotEmpty(createdStampEnd)">
            AND created_stamp &lt;= #{createdStampEnd}
                    </if>
        </where>
    </select>

    <!-- 插入 -->
    <insert id="save" parameterType="com.billing.product.orm.model.Party" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO party (
             party_type_id, external_id, preferred_currency_uom_id, description, status_id, created_date, created_by_user_login, last_modified_date, last_modified_by_user_login, data_source_id, is_unread, last_updated_stamp, created_stamp
        ) VALUES (
             #{partyTypeId}, #{externalId}, #{preferredCurrencyUomId}, #{description}, #{statusId}, #{createdDate}, #{createdByUserLogin}, #{lastModifiedDate}, #{lastModifiedByUserLogin}, #{dataSourceId}, #{isUnread}, #{lastUpdatedStamp}, #{createdStamp}
        )
    </insert>

    <delete id="delete">
        DELETE FROM party WHERE
        id = #{id} 
    </delete>

    <update id="update" >
        <![CDATA[
        UPDATE party SET
    party_type_id = #{partyTypeId} , external_id = #{externalId} , preferred_currency_uom_id = #{preferredCurrencyUomId} , description = #{description} , status_id = #{statusId} , created_date = #{createdDate} , created_by_user_login = #{createdByUserLogin} , last_modified_date = #{lastModifiedDate} , last_modified_by_user_login = #{lastModifiedByUserLogin} , data_source_id = #{dataSourceId} , is_unread = #{isUnread} , last_updated_stamp = #{lastUpdatedStamp} , created_stamp = #{createdStamp}  
        WHERE
    id = #{id}  
        ]]>
    </update>

</mapper>