<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.billing.product.orm.dao.SequenceValueItemDao">


    <!-- 字段名转换 -->
    <resultMap id="RM_SequenceValueItem" type="com.billing.product.orm.model.SequenceValueItem">
        <result property="seqName" column="seq_name"/>
        <result property="seqId" column="seq_id"/>
        <result property="crashSkipNumber" column="crash_skip_number"/>
    </resultMap>

    <!-- 查询字段 -->
    <sql id="SequenceValueItem_columns">
        <![CDATA[
    seq_name,seq_id,crash_skip_number
        ]]>
    </sql>


    <select id="get" parameterType="map" resultMap="RM_SequenceValueItem">
        select
        <include refid="SequenceValueItem_columns" />
        from sequence_value_item
        WHERE
            <if test="@Ognl@isEmpty(seqName)">
                1 = 0 AND
            </if>
            seq_name = #{seqName} 
    </select>

    <!-- 查询用户,演示: 1.输入用map传入多个参数 2.<where>语句, 智能添加where和and关键字 3.输出直接映射对象 -->
    <select id="search" parameterType="map" resultMap="RM_SequenceValueItem">
        select
        <include refid="SequenceValueItem_columns" />
        from sequence_value_item
        <where>
                    <if test="@Ognl@isNotEmpty(seqName)">
            AND seq_name = #{seqName}
                    </if>
                    <if test="@Ognl@isNotEmpty(seqId)">
            AND seq_id = #{seqId}
                    </if>
                    <if test="@Ognl@isNotEmpty(crashSkipNumber)">
            AND crash_skip_number = #{crashSkipNumber}
                    </if>
        </where>
    </select>

    <!-- 插入 -->
    <insert id="save" parameterType="com.billing.product.orm.model.SequenceValueItem" useGeneratedKeys="true" keyProperty="seqName">
        INSERT INTO sequence_value_item (
             seq_id, crash_skip_number
        ) VALUES (
             #{seqId}, #{crashSkipNumber}
        )
    </insert>

    <delete id="delete">
        DELETE FROM sequence_value_item WHERE
        seq_name = #{seqName} 
    </delete>

    <update id="update" >
        <![CDATA[
        UPDATE sequence_value_item SET
    seq_id = #{seqId} , crash_skip_number = #{crashSkipNumber}  
        WHERE
    seq_name = #{seqName}  
        ]]>
    </update>

</mapper>