<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.billing.product.orm.dao.StatusItemDao">


    <!-- 字段名转换 -->
    <resultMap id="RM_StatusItem" type="com.billing.product.orm.model.StatusItem">
        <result property="statusId" column="status_id"/>
        <result property="statusTypeId" column="status_type_id"/>
        <result property="statusCode" column="status_code"/>
        <result property="sequenceId" column="sequence_id"/>
        <result property="description" column="description"/>
        <result property="lastUpdatedStamp" column="last_updated_stamp"/>
        <result property="createdStamp" column="created_stamp"/>
    </resultMap>

    <!-- 查询字段 -->
    <sql id="StatusItem_columns">
        <![CDATA[
    status_id,status_type_id,status_code,sequence_id,description,last_updated_stamp,created_stamp
        ]]>
    </sql>


    <select id="get" parameterType="map" resultMap="RM_StatusItem">
        select
        <include refid="StatusItem_columns" />
        from status_item
        WHERE
            <if test="@Ognl@isEmpty(statusId)">
                1 = 0 AND
            </if>
            status_id = #{statusId} 
    </select>

    <!-- 查询用户,演示: 1.输入用map传入多个参数 2.<where>语句, 智能添加where和and关键字 3.输出直接映射对象 -->
    <select id="search" parameterType="map" resultMap="RM_StatusItem">
        select
        <include refid="StatusItem_columns" />
        from status_item
        <where>
                    <if test="@Ognl@isNotEmpty(statusId)">
            AND status_id = #{statusId}
                    </if>
                    <if test="@Ognl@isNotEmpty(statusTypeId)">
            AND status_type_id = #{statusTypeId}
                    </if>
                    <if test="@Ognl@isNotEmpty(statusCode)">
            AND status_code = #{statusCode}
                    </if>
                    <if test="@Ognl@isNotEmpty(sequenceId)">
            AND sequence_id = #{sequenceId}
                    </if>
                    <if test="@Ognl@isNotEmpty(description)">
            AND description = #{description}
                    </if>
                    <if test="@Ognl@isNotEmpty(lastUpdatedStampBegin)">
            AND last_updated_stamp >= #{lastUpdatedStampBegin}
                    </if>
                    <if test="@Ognl@isNotEmpty(lastUpdatedStampEnd)">
            AND last_updated_stamp &lt;= #{lastUpdatedStampEnd}
                    </if>
                    <if test="@Ognl@isNotEmpty(createdStampBegin)">
            AND created_stamp >= #{createdStampBegin}
                    </if>
                    <if test="@Ognl@isNotEmpty(createdStampEnd)">
            AND created_stamp &lt;= #{createdStampEnd}
                    </if>
        </where>
    </select>

    <!-- 插入 -->
    <insert id="save" parameterType="com.billing.product.orm.model.StatusItem" useGeneratedKeys="true" keyProperty="statusId">
        INSERT INTO status_item (
             status_type_id, status_code, sequence_id, description, last_updated_stamp, created_stamp
        ) VALUES (
             #{statusTypeId}, #{statusCode}, #{sequenceId}, #{description}, #{lastUpdatedStamp}, #{createdStamp}
        )
    </insert>

    <delete id="delete">
        DELETE FROM status_item WHERE
        status_id = #{statusId} 
    </delete>

    <update id="update" >
        <![CDATA[
        UPDATE status_item SET
    status_type_id = #{statusTypeId} , status_code = #{statusCode} , sequence_id = #{sequenceId} , description = #{description} , last_updated_stamp = #{lastUpdatedStamp} , created_stamp = #{createdStamp}  
        WHERE
    status_id = #{statusId}  
        ]]>
    </update>

</mapper>