<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.billing.product.orm.dao.UomDao">


    <!-- 字段名转换 -->
    <resultMap id="RM_Uom" type="com.billing.product.orm.model.Uom">
        <result property="uomId" column="uom_id"/>
        <result property="uomTypeId" column="uom_type_id"/>
        <result property="abbreviation" column="abbreviation"/>
        <result property="description" column="description"/>
        <result property="lastUpdatedStamp" column="last_updated_stamp"/>
        <result property="createdStamp" column="created_stamp"/>
    </resultMap>

    <!-- 查询字段 -->
    <sql id="Uom_columns">
        <![CDATA[
    uom_id,uom_type_id,abbreviation,description,last_updated_stamp,created_stamp
        ]]>
    </sql>


    <select id="get" parameterType="map" resultMap="RM_Uom">
        select
        <include refid="Uom_columns" />
        from uom
        WHERE
            <if test="@Ognl@isEmpty(uomId)">
                1 = 0 AND
            </if>
            uom_id = #{uomId} 
    </select>

    <!-- 查询用户,演示: 1.输入用map传入多个参数 2.<where>语句, 智能添加where和and关键字 3.输出直接映射对象 -->
    <select id="search" parameterType="map" resultMap="RM_Uom">
        select
        <include refid="Uom_columns" />
        from uom
        <where>
                    <if test="@Ognl@isNotEmpty(uomId)">
            AND uom_id = #{uomId}
                    </if>
                    <if test="@Ognl@isNotEmpty(uomTypeId)">
            AND uom_type_id = #{uomTypeId}
                    </if>
                    <if test="@Ognl@isNotEmpty(abbreviation)">
            AND abbreviation = #{abbreviation}
                    </if>
                    <if test="@Ognl@isNotEmpty(description)">
            AND description = #{description}
                    </if>
                    <if test="@Ognl@isNotEmpty(lastUpdatedStampBegin)">
            AND last_updated_stamp >= #{lastUpdatedStampBegin}
                    </if>
                    <if test="@Ognl@isNotEmpty(lastUpdatedStampEnd)">
            AND last_updated_stamp &lt;= #{lastUpdatedStampEnd}
                    </if>
                    <if test="@Ognl@isNotEmpty(createdStampBegin)">
            AND created_stamp >= #{createdStampBegin}
                    </if>
                    <if test="@Ognl@isNotEmpty(createdStampEnd)">
            AND created_stamp &lt;= #{createdStampEnd}
                    </if>
        </where>
    </select>

    <!-- 插入 -->
    <insert id="save" parameterType="com.billing.product.orm.model.Uom" useGeneratedKeys="true" keyProperty="uomId">
        INSERT INTO uom (
             uom_type_id, abbreviation, description, last_updated_stamp, created_stamp
        ) VALUES (
             #{uomTypeId}, #{abbreviation}, #{description}, #{lastUpdatedStamp}, #{createdStamp}
        )
    </insert>

    <delete id="delete">
        DELETE FROM uom WHERE
        uom_id = #{uomId} 
    </delete>

    <update id="update" >
        <![CDATA[
        UPDATE uom SET
    uom_type_id = #{uomTypeId} , abbreviation = #{abbreviation} , description = #{description} , last_updated_stamp = #{lastUpdatedStamp} , created_stamp = #{createdStamp}  
        WHERE
    uom_id = #{uomId}  
        ]]>
    </update>

</mapper>